*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  transition: all .2s ease-out;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color:var(--bg1);
    border-radius: 10px;
  }
.white-scheme{
  --color1: rgb(9, 52, 75);
  --color3: white;
  --bg1:rgb(9, 52, 75);
  --bg2:rgb(16, 73, 104);
  --bg3:rgba(2,156,159,1);
}
.dark-scheme{
  --color1: rgb(140, 40, 255);
  --color3: white;
  --bg1:rgb(30, 1, 83);
  --bg2:rgb(59, 0, 107);
  --bg3:rgb(158, 1, 150);
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#root{
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(111deg, var(--bg1) 0%,var(--bg2)  36%, var(--bg3) 100%);
  overflow: hidden;
}